### 필터링과 정렬하기 (12.5)

#### 필터링하기 (12.5.1)

In [3]:
import pandas as pd

df = pd.read_excel("./아파트분양가.xlsx")

result = df[df["분양가"] >= 5000]

print(result.head().to_string())

  지역명                 규모    연도   월     분양가
0  서울                 전체  2015  10  5841.0
1  서울         전용면적 60㎡이하  2015  10  5652.0
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882.0
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721.0
4  서울        전용면적 102㎡초과  2015  10  5879.0

In [5]:
result = df[(df["분양가"] >= 3000) & (df["분양가"] < 4000)]
print(result.head().to_string())

  지역명                 규모    연도   월     분양가
5  인천                 전체  2015  10  3163.0
6  인천         전용면적 60㎡이하  2015  10  3488.0
7  인천   전용면적 60㎡초과 85㎡이하  2015  10  3119.0
8  인천  전용면적 85㎡초과 102㎡이하  2015  10  3545.0
9  인천        전용면적 102㎡초과  2015  10  3408.0

In [6]:
result = df[(df["분양가"] >= 3000) & (df["분양가"] < 4000) & (df["지역명"] == "부산")]
print(result.head().to_string())

    지역명                규모    연도   월     분양가
15   부산                전체  2015  10  3112.0
19   부산       전용면적 102㎡초과  2015  10  3500.0
100  부산                전체  2015  11  3131.0
102  부산  전용면적 60㎡초과 85㎡이하  2015  11  3037.0
104  부산       전용면적 102㎡초과  2015  11  3739.0

In [7]:
result = df[(df["지역명"] == "서울") | (df["지역명"] == "부산")]
print(result.head().to_string())

  지역명                 규모    연도   월     분양가
0  서울                 전체  2015  10  5841.0
1  서울         전용면적 60㎡이하  2015  10  5652.0
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882.0
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721.0
4  서울        전용면적 102㎡초과  2015  10  5879.0

#### 정렬하기 (12.5.2)

In [8]:
result = result.sort_values(by="분양가", ascending=False)
print(result.head().to_string())

     지역명                 규모    연도   월      분양가
4508  서울  전용면적 85㎡초과 102㎡이하  2020   3  13835.0
4423  서울  전용면적 85㎡초과 102㎡이하  2020   2  13835.0
3743  서울  전용면적 85㎡초과 102㎡이하  2019   6  12728.0
4168  서울  전용면적 85㎡초과 102㎡이하  2019  11  12728.0
3913  서울  전용면적 85㎡초과 102㎡이하  2019   8  12728.0